h1{
    text-align: center;
}

input{
    width: 49%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus{
    border: 3px solid #555;
}

#one{

    z-index: 10;
    position: relative;
    float: left;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: #e2ffe6;
}

#two{
    z-index: 11;
    position: relative;
    float: right;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: #d8f5fd;
}

img{
    width: 32px;
    height: auto;
}